.createPost {
  border: 1px solid #000;
  width: 600px;
  height: 100%;
  border-radius: 3px;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
}
.createPost input {
  margin: 5px;
}
.postContainer {
  display: flex;
  justify-content: center;
}
.posts {
  margin: 30px 0 30px 0;
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 1%;
}

.post {
  border-bottom: 1px solid #000;
  width: 600px;

  display: flex;
  flex-direction: column;
}
.postContent {
  padding: 0 20px 0 20px;
}

.Cardtop {
  display: flex;
  justify-content: right;
}
.Cardtop p {
  border: 1px solid #000;
  padding: 0 20px 0 20px;
}
.input-content {
  border: 1px solid #000;
  width: 400px;
  margin: 0 auto;
}
.input-content input {
  width: 318px;
  height: 50px;
  margin-right: 20px;
}

.input-user input {
  width: 70px;
  margin-right: 10px;
}

.input-title input {
  width: 235px;
}

.input-top {
  border: 1px solid #000;
  width: 400px;
  margin: 0 auto;
}
